@charset "UTF-8";
.footer {
  background-color: #111111;
  padding: 100px 600px;
  display: flex; }
  .footer__img {
    width: 50px;
    height: auto; }
  .footer__label {
    color: #d8d8d8;
    padding: 20px 10px; }

* {
  margin: 0px 0px;
  padding: 0px 0px; }

.header__nav {
  display: flex;
  background-color: #0c252c;
  position: sticky; }

.header__lista {
  list-style: none;
  padding: 15px 30px; }

.header__item {
  padding: 10px 20px;
  display: inline; }
  .header__item a {
    text-decoration: none;
    color: white; }

.header__letra {
  color: white; }

.main {
  background-color: #364242; }
  .main__titulo {
    text-align: center;
    color: #d8d8d8;
    padding: 50px 60px;
    font-family: 'Courier New', Courier, monospace; }
  .main__sinopsis {
    display: flex;
    padding: 40px 0px; }
  .main__sinopsis--texto {
    padding: 0px 400px 0px 30px;
    color: #d8d8d8; }
  .main__imagen--texto {
    padding: 0 0 0 250px; }
  .main__sinopsis--textoDos {
    padding: 0px 30px 0px 400px;
    color: #d8d8d8; }
  .main__imagen--textoDos {
    padding: 0px 250px 0px 0px; }
  .main__arbol {
    width: 75vw;
    max-width: 1000px;
    min-width: 0;
    margin: auto; }
  .main__texto--arbol {
    padding: 0 0 0 20px;
    color: #d8d8d8; }
  .main__reparto--section {
    display: flex;
    padding: 20px 100px; }
  .main__reparto--nombres {
    color: #d8d8d8;
    text-align: center; }
  .main__reparto--imagen {
    height: 270px; }
  .main__resumen {
    text-align: center; }
  .main__registrar--datos {
    background-color: #0c252c;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white; }
  .main__registrar--boton {
    background-color: #0c252c;
    color: white; }
  .main__registrar {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white; }
  .main__registrar p {
    height: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace; }
  .main__registrar a {
    height: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white; }

.galeria img {
  height: auto;
  margin: 15px; }

.reparto {
  background-color: #0c252c; }
  .reparto__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto; }
  .reparto__img {
    width: auto;
    height: auto;
    padding: 5px; }

body {
  background-color: #111111; }

.tamaño-h1 {
  font-size: 3rem; }

.tamaño-h2 {
  font-size: 2rem; }

.tamaño-h3 {
  font-size: 1rem; }

.tamaño-h4 {
  font-size: 0.5rem; }

.widthfull, .main__registrar--datos, .main__registrar--boton {
  width: 100%;
  height: auto; }
