@import "footer";

*{
    margin: 0px 0px;
    padding: 0px 0px;
}

.header{
    &__nav{
        display: flex;
        background-color: #0c252c;
        position: sticky;
    }

    &__lista{
        list-style: none;
        padding: 15px 30px;
    }

    &__item{
        padding: 10px 20px;
        display: inline;
        & a{
            text-decoration: none;
            color: white;
        }
    }
    &__letra{
        color: white;
    }
}

.main{
    background-color: #364242;

    &__titulo{
        text-align: center;
        color: #d8d8d8;
        padding: 50px 60px;
        font-family:'Courier New', Courier, monospace;
    }
    
    &__sinopsis{
        display: flex;
        padding: 40px 0px;
    }
    
    &__sinopsis--texto{
        padding: 0px 400px 0px 30px;
        color:#d8d8d8;
    }
    
    &__imagen--texto{
        padding: 0 0 0 250px;
    }
    
    &__sinopsis--textoDos{
        padding: 0px 30px 0px 400px;
        color: #d8d8d8;
    }
    &__imagen--textoDos{
        padding: 0px 250px 0px 0px;
    }
    
    &__arbol{
        width: 75vw;
        max-width: 1000px;
        min-width: 0;
        margin: auto;
    }

    
    &__texto--arbol{
        padding: 0 0 0 20px;
        color: #d8d8d8;
    }


    &__resumen{
        text-align: center;
    }

    &__registrar--datos{
        @extend .widthfull;
        background-color:#0c252c ;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid white;
    }

    &__registrar--boton{
        @extend .widthfull;
        background-color:#0c252c ;
        color: white;
    }

    &__registrar{
        width: 400px;
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }

    &__registrar p{
        height: 40px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    &__registrar a{
        height: 40px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: white  ;
    }
}

.galeria{
    padding: 30px;
}

.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 1s;
    overflow: hidden;
    background-color: rgba(40, 42, 44, 0.781);
}

.overlay h2{
    color: #d8d8d8;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}

body{
    background-color: #111111;}

    $titulos:(
        h1: 3rem,
        h2: 2rem,
        h3: 1rem,
        h4: 0.5rem
    );

    @each $title, $size in $titulos {
        .tamaño-#{$title} {
            font-size: #{$size};
        }
    }

    .widthfull{
        width: 100%;
        height: auto;
    }

@media screen and (max-width:1300px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and(max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and(max-width:450px){
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}