@import "footer";

*{
    margin: 0px 0px;
    padding: 0px 0px;
}

.header{
    &__nav{
        display: flex;
        background-color: #0c252c;
        position: sticky;
    }

    &__lista{
        list-style: none;
        padding: 15px 30px;
    }

    &__item{
        padding: 10px 20px;
        display: inline;
        & a{
            text-decoration: none;
            color: white;
        }
    }
    &__letra{
        color: white;
    }
}

.main{
    background-color: #364242;

    &__titulo{
        text-align: center;
        color: #d8d8d8;
        padding: 50px 60px;
        font-family:'Courier New', Courier, monospace;
        &-contactanos{
            padding-top: 50px;
            padding-bottom: 0px;
            text-align: center;
            color: #d8d8d8;
            font-family:'Courier New', Courier, monospace;
        }
    }
    
    &__sinopsis{
        display: flex;
        padding: 40px 0px;
    }
    
    &__sinopsis--texto{
        padding: 0px 400px 0px 30px;
        color:#d8d8d8;
    }
    
    &__imagen--texto{
        padding: 0 0 0 250px;
    }
    
    &__sinopsis--textoDos{
        padding: 0px 30px 0px 400px;
        color: #d8d8d8;
    }
    &__imagen--textoDos{
        padding: 0px 250px 0px 0px;
    }


    &__arbol{
        max-width: 80%;
        max-height: 80%;
    }

    &__contenedor-texto{
        max-width: 100%;
        width: 100%;
        padding:30px 15%;
    }

    
    &__texto--arbol{
        padding: 0 0 0 20px;
        color: #fff;
        font-size: 1rem;
    }


    &__resumen{
        text-align: center;
    }

    &__registrar--datos{
        @extend .widthfull;
        background-color:#0c252c ;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid white;
    }

    &__registrar--boton{
        @extend .widthfull;
        background-color:#0c252c ;
        color: white;
    }

    &__registrar{
        width: 400px;
        padding: 0px;
        padding-bottom: 30px;
        margin: auto;
        margin-top: 50px;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }

    &__registrar p{
        height: 40px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    &__registrar a{
        height: 40px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: white  ;
    }
}

.contenedor-arbol{
    display: flex;
    padding: 30px;
    justify-content: center;
}

.galeria{
    padding: 30px;
}

.galeria h2{
    text-align: center;
    color: #fff;
    padding: 30px;
}

.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
    padding-bottom: 15px;
    & .imagen{
        width: 32%;
        position: relative;
        height: 300px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
    }
    & .imagenes__familia{
        margin-bottom: 15px;
    }
}

.contenedor-imagenes-arbol{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap ;
    border-radius: 3px;
    padding-bottom: 15px;
    & .imagen{
        margin-bottom: 15px;
        position: relative;
    }
}




.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 1s;
    overflow: hidden;
    background-color: rgba(40, 42, 44, 0.781);
    & h2{
        color: #d8d8d8;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    & h3{
        color: #d8d8d8;
        font-size: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}





.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}

.imagen-arbol{
    margin-bottom: 30px;
}

.imagen-fondo{
    width: 100%;
    object-fit: cover;
}

.titulo-index{
    color: #fff;
    background-color: #364242;
    text-align: center;
    padding: 20px;
}

.sinopsis{
    color: #d8d8d8;
    font-size: 1rem;
    text-align: center;
    padding: 30px 50px;
    background-color: #364242;
}

.capitulos{
    padding: 40px;

}

.capitulos h2{
    color: #fff;
    font-size: 2rem;
}

.capitulos a{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0px;
}

.capitulos li{
    list-style: none;
    padding: 15px 0px;
}

body{
    background-color: #111111;}

    $titulos:(
        h1: 3rem,
        h2: 2rem,
        h3: 1rem,
        h4: 0.5rem
    );

    @each $title, $size in $titulos {
        .tamaño-#{$title} {
            font-size: #{$size};
        }
    }

    .widthfull{
        width: 100%;
        height: auto;
    }

@media screen and (max-width:1200px){
    .contenedor-imagenes{
        width: 95%;
    }
    .main__registrar{
        width: 95%;
    }
    .contenedor-arbol{
        width: 100%;
    }
}

@media screen and(max-width:768px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
    .main__registrar{
        width: 90%;
    }
}

@media screen and(max-width:576px){
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
    .main__registrar{
        width: 80%;
    }
}

